<div class="game-board">
   <div></div>
   <div class="square-mark">1</div>
   <div class="square-mark">2</div>
   <div class="square-mark">3</div>
   <div class="square-mark">4</div>
   <div class="square-mark">5</div>
   <div class="square-mark">6</div>
   <div class="square-mark">7</div>
   <div class="square-mark">8</div>
   <div class="square-mark">9</div>
   <div class="square-mark">10</div>
   <div class="square-mark">A</div>
   <div class="square" data-x="0" data-y="0"></div>
   <div class="square" data-x="0" data-y="1"></div>
   <div class="square" data-x="0" data-y="2"></div>
   <div class="square" data-x="0" data-y="3"></div>
   <div class="square" data-x="0" data-y="4"></div>
   <div class="square" data-x="0" data-y="5"></div>
   <div class="square" data-x="0" data-y="6"></div>
   <div class="square" data-x="0" data-y="7"></div>
   <div class="square" data-x="0" data-y="8"></div>
   <div class="square" data-x="0" data-y="9"></div>
   <div class="square-mark">B</div>
   <div class="square" data-x="1" data-y="0"></div>
   <div class="square" data-x="1" data-y="1"></div>
   <div class="square" data-x="1" data-y="2"></div>
   <div class="square" data-x="1" data-y="3"></div>
   <div class="square" data-x="1" data-y="4"></div>
   <div class="square" data-x="1" data-y="5"></div>
   <div class="square" data-x="1" data-y="6"></div>
   <div class="square" data-x="1" data-y="7"></div>
   <div class="square" data-x="1" data-y="8"></div>
   <div class="square" data-x="1" data-y="9"></div>
   <div class="square-mark">C</div>
   <div class="square" data-x="2" data-y="0"></div>
   <div class="square" data-x="2" data-y="1"></div>
   <div class="square" data-x="2" data-y="2"></div>
   <div class="square" data-x="2" data-y="3"></div>
   <div class="square" data-x="2" data-y="4"></div>
   <div class="square" data-x="2" data-y="5"></div>
   <div class="square" data-x="2" data-y="6"></div>
   <div class="square" data-x="2" data-y="7"></div>
   <div class="square" data-x="2" data-y="8"></div>
   <div class="square" data-x="2" data-y="9"></div>
   <div class="square-mark">D</div>
   <div class="square" data-x="3" data-y="0"></div>
   <div class="square" data-x="3" data-y="1"></div>
   <div class="square" data-x="3" data-y="2"></div>
   <div class="square" data-x="3" data-y="3"></div>
   <div class="square" data-x="3" data-y="4"></div>
   <div class="square" data-x="3" data-y="5"></div>
   <div class="square" data-x="3" data-y="6"></div>
   <div class="square" data-x="3" data-y="7"></div>
   <div class="square" data-x="3" data-y="8"></div>
   <div class="square" data-x="3" data-y="9"></div>
   <div class="square-mark">E</div>
   <div class="square" data-x="4" data-y="0"></div>
   <div class="square" data-x="4" data-y="1"></div>
   <div class="square" data-x="4" data-y="2"></div>
   <div class="square" data-x="4" data-y="3"></div>
   <div class="square" data-x="4" data-y="4"></div>
   <div class="square" data-x="4" data-y="5"></div>
   <div class="square" data-x="4" data-y="6"></div>
   <div class="square" data-x="4" data-y="7"></div>
   <div class="square" data-x="4" data-y="8"></div>
   <div class="square" data-x="4" data-y="9"></div>
   <div class="square-mark">F</div>
   <div class="square" data-x="5" data-y="0"></div>
   <div class="square" data-x="5" data-y="1"></div>
   <div class="square" data-x="5" data-y="2"></div>
   <div class="square" data-x="5" data-y="3"></div>
   <div class="square" data-x="5" data-y="4"></div>
   <div class="square" data-x="5" data-y="5"></div>
   <div class="square" data-x="5" data-y="6"></div>
   <div class="square" data-x="5" data-y="7"></div>
   <div class="square" data-x="5" data-y="8"></div>
   <div class="square" data-x="5" data-y="9"></div>
   <div class="square-mark">G</div>
   <div class="square" data-x="6" data-y="0"></div>
   <div class="square" data-x="6" data-y="1"></div>
   <div class="square" data-x="6" data-y="2"></div>
   <div class="square" data-x="6" data-y="3"></div>
   <div class="square" data-x="6" data-y="4"></div>
   <div class="square" data-x="6" data-y="5"></div>
   <div class="square" data-x="6" data-y="6"></div>
   <div class="square" data-x="6" data-y="7"></div>
   <div class="square" data-x="6" data-y="8"></div>
   <div class="square" data-x="6" data-y="9"></div>
   <div class="square-mark">H</div>
   <div class="square" data-x="7" data-y="0"></div>
   <div class="square" data-x="7" data-y="1"></div>
   <div class="square" data-x="7" data-y="2"></div>
   <div class="square" data-x="7" data-y="3"></div>
   <div class="square" data-x="7" data-y="4"></div>
   <div class="square" data-x="7" data-y="5"></div>
   <div class="square" data-x="7" data-y="6"></div>
   <div class="square" data-x="7" data-y="7"></div>
   <div class="square" data-x="7" data-y="8"></div>
   <div class="square" data-x="7" data-y="9"></div>
   <div class="square-mark">I</div>
   <div class="square" data-x="8" data-y="0"></div>
   <div class="square" data-x="8" data-y="1"></div>
   <div class="square" data-x="8" data-y="2"></div>
   <div class="square" data-x="8" data-y="3"></div>
   <div class="square" data-x="8" data-y="4"></div>
   <div class="square" data-x="8" data-y="5"></div>
   <div class="square" data-x="8" data-y="6"></div>
   <div class="square" data-x="8" data-y="7"></div>
   <div class="square" data-x="8" data-y="8"></div>
   <div class="square" data-x="8" data-y="9"></div>
   <div class="square-mark">J</div>
   <div class="square" data-x="9" data-y="0"></div>
   <div class="square" data-x="9" data-y="1"></div>
   <div class="square" data-x="9" data-y="2"></div>
   <div class="square" data-x="9" data-y="3"></div>
   <div class="square" data-x="9" data-y="4"></div>
   <div class="square" data-x="9" data-y="5"></div>
   <div class="square" data-x="9" data-y="6"></div>
   <div class="square" data-x="9" data-y="7"></div>
   <div class="square" data-x="9" data-y="8"></div>
   <div class="square" data-x="9" data-y="9"></div>
</div>
